<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.neu.madcourse.xiaohuawang">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/img1"
        android:label="@string/title_name"
        android:roundIcon="@mipmap/img1_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="edu.neu.madcourse.xiaohuawang.MainActivity"
            android:label="@string/MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.neu.madcourse.xiaohuawang.AboutActivity"
            android:label="@string/AboutActivity"/>
        <activity
            android:name="edu.neu.madcourse.xiaohuawang.DictionaryActivity"
            android:label="@string/TestDictionary"/>
        <activity
            android:name="edu.neu.madcourse.xiaohuawang.AcknowledgementsActivity"
            android:label="@string/Acknowledgement"/>
        <activity
            android:name="edu.neu.madcourse.xiaohuawang.GameActivity"
            android:label="@string/GameActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>