<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xiaohuawang.madcourse.neu.edu.numad17f_xiaohuawang">
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/img1"
        android:label="@string/title_name"
        android:roundIcon="@mipmap/img1_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/AboutActivity"/>
        <activity
            android:name=".DictionaryActivity"
            android:label="@string/TestDictionary"/>
        <activity
            android:name=".AcknowledgementsActivity"
            android:label="@string/Acknowledgement"/>
        <activity
            android:name=".MainFragment"/>
        <activity
            android:name=".GameActivity"
            android:label="@string/GameActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Scoreboard_Activity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Leaderboard_Activity"
            android:screenOrientation="portrait"/>
        <activity android:name=".SubmitData_Activity"/>


        <service
            android:name=".WordGameMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".WordGameInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

    </application>

</manifest>